.loginStyle {
  text-align: center;
  padding-top: 5%;
}

.buttonStyle {
  padding-top: 30px;
}

.cardStyle {
  height: 200px;
  width: 240px;
}

h1 {
  padding-left: 18%;
  padding-bottom: 4%;
  color: gray;
}

.notifications {
  padding-left: 20%;
  padding-top: 4%;
  color: black;
}
